
.contact-form-header {
    border: 0;
    border-radius: 0;
    background-color: #ffffff;
    font-family: Ubuntu;
}

.contact-form-footer {
    border: 0;
    border-radius: 0;
    background-color: #ffffff
}