html body {
    background: url("/resources/img/crmax-background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.form-container {
    height: 100%;
}

.login-form {
    background-color: rgba(171, 171, 171, 0.75);
}

.cr-input {
    background-color: rgb(199, 199, 199);
    font-family: Ubuntu;
    font-size: 24px;
    border: none;
    border-radius: 0;
}

.cr-input:focus {
    background-color: rgb(199, 199, 199);
    font-family: Ubuntu;
    font-size: 24px;
    border: none;
    border-radius: 0;
}

::-webkit-input-placeholder {
    color: rgb(171, 171, 171);
    font-family: Ubuntu;
    font-size: 22px;
    text-transform: uppercase;
    margin: 4px;
}

.left-button {
    background: linear-gradient(to right, #f2994a 0%, #2d9cdb 100%);
    color: rgb(62, 62, 62);
    opacity: 0.7;
    width: 100%;
    text-transfrom: uppercase;
    border: 0;
    border-radius: 0;
}

.right-button {
    background: linear-gradient(to left, #f2994a 0%, #2d9cdb 100%);
    color: rgb(62, 62, 62);
    opacity: 0.7;
    width: 100%;
    text-transfrom: uppercase;
    border: 0;
    border-radius: 0;
}

.warning-box {
    background-color: rgba(224, 138, 138, 0.25882352941176473);
    border-color: #8c4d4d;
    border-radius: 0;
    text-align: center;
    font-family: Ubuntu;
    font-size: 14;
    color: #8c4d4d;
}